[2016-09-27 17:26] cnuernber opened #1 "Mistakenly deleted repository"
@mikera, @rosejn

In a colossal bonehead move instead of deleting a branch I deleted the cortex repository.  This means we lost our issues.

If anyone has work in a branch please re-instate the branch and I am sorry.  We did lose our issues permanently and a lot of good papers along with some discussion.

[2016-10-13 15:23] benkamphaus commented on #1
Closing this now that everyone was made aware and had a chance to rescue branch work, etc.

[2016-10-13 15:23] #1 closed

[2016-10-13 15:31] benkamphaus opened #2 "Adam with Nesterov Momentum"
See [reference paper](http://cs229.stanford.edu/proj2015/054_report.pdf) and [Keras implementation](https://github.com/fchollet/keras/blob/6074a18ec4f23eaf06ac0f3e9be33361e05e192a/keras/optimizers.py#L488).

Nesterov Adam should converge faster and behave better than the basic Adam optimizer for many cases.

As Adam is sufficient for most training, this is lower priority for now.

[2016-10-13 19:36] mozinator opened #3 "Unable to access s3p://thinktopic.jars/snapshots/"
It seems that the repos s3p://thinktopic.jars/snapshots/ and s3p://thinktopic.jars/releases/ are password protected. This causes lein test to not work.

[code]

[2016-10-13 19:49] cnuernber commented on #3
A temporary workaround is the local install script.

[2016-10-13 20:08] mozinator commented on #3
yep, after local-install.sh lein test seems to work

[2016-10-13 20:53] ricardojmendez opened #4 "Fix license/copyright on cortex/dataset and examples/dropout"
Subprojects `cortex/dataset` and `examples/dropout` still have the standard boilerplate for the license, with

    Copyright © 2016 FIXME

This applies to both the README and the `project.clj` files.  While the license on the project files is stated as Eclipse, it'd likely look more official if the copyright wasn't the default.

[2016-10-13 21:43] charlesg3 commented on #4
@ricardojmendez -- Thanks for the feedback. I have updated the license information. Please feel free to let us know if there's anything else that has been omitted. Closing this issue for now.

[2016-10-13 21:43] #4 closed

[2016-10-13 22:08] harold commented on #3
Glad to hear it. Someday this will all be on clojars, but until then...

[2016-10-15 19:04] jiangts opened #8 "automatic differentiation?"
Is there any planned support for automatic differentiation? I took CS224D (Deep Learning/NLP) at Stanford and this seemed to be a given in any framework discussions we had on TensorFlow vs Theano vs. etc.

[2016-10-16 21:09] brianmingus commented on #8
Yes we are studying Lambda the Ultimate Backpropagator and DiffSharp / Hype.

http://eprints.maynoothuniversity.ie/3504/1/BP_Reverse-Mode.pdf

[2016-10-17 15:33] cnuernber commented on #8
In addition, there are existing solutions for auto-differentiation in clojure and java and what needs to happen is someone take the time to work through now to use them efficiently with:
1.  large multi-dimensional arrays of data.
2.  (later, possibly optional) GPU support.

Please see:
https://github.com/log0ymxm/clj-auto-diff
https://github.com/lambder/Deriva

It is only a given if someone puts

[2016-10-21 19:34] #3 closed

[2016-10-21 19:35] cnuernber commented on #3
We now publish our jars to clojars.

[2016-10-28 15:15] kovasb opened #13 "Sulong for native interop?"
(posted similar message at https://github.com/uncomplicate/neanderthal/issues/21)

Sulong (https://github.com/graalvm/sulong) will run on unmodified JVM in Java 9. It is the basis for native extension interop for JRuby/Truffle. Full paper at http://ssw.jku.at/General/Staff/ManuelRigger/VMIL16.pdf

They make several claims regarding their FFI: 1) 0-overhead calls into native, 2) inlining of native

[2016-10-29 11:13] mikera commented on #13
It's a very interesting project! Keen to try this out when JDK9 become more available.

My view is that this level of optimisation is important when you are talking about operations on large arrays - so it is best use as a way to generate an optimised core.matrix implementation which we can then plug into cortex (for some or all of the matrices / vectors / tensors)

cortex should be a higher level

[2016-10-29 15:54] cnuernber commented on #13
I have a bit of a different strategy I would take.

This tech I think aligns well with things like the js compilation of blis:

https://github.com/Maratyszcza/blis-bench

I doubt we could get gemm any faster than parallel colt.  But there are lots of operations in the operation of a neural network that aren't expressable efficiently with gemm or with core.matrix.  Specifically convolutional layers

[2016-10-29 16:06] cnuernber opened #14 "Confusion when dataset item count isn't evenly divisible by batch number"
Currently this results in dropping the last partial batch.  This is not such a big deal when training but it can be a very large deal when running.

I am not sure this should be solved in the engine given that the implementation of the dataset can solve this but we have had two teams confused by this (albeit in their first day of using cortex) so either an error needs to happen or we need to pad t

[2016-10-30 20:30] cnuernber opened #15 "Research feeding a net data and pulling data off the net for inference."
The intent of this issue is to characterize the problem while leaving the choice of implementation strategies wide open.  If the problem is characterized as to arbitrarily narrow the choice of implementations then it is mis-characterized.

We would like to upgrade the time it takes to put data onto the gpu and pull it off.  Plus we would like a set of standard automatic augmentations that can be p

[2016-10-31 20:23] cnuernber commented on #15
One thing I have found so far is that if your net is running in floating point mode then make sure your dataset produces floating point arrays.  This can be quite a dramatic speed increase (factor of 100).

[2016-11-02 01:18] charlesg3 opened #18 "SEGV while training on VGG net"
I was training a network which consisted of VGG16 with two 4096 FC layers at the end and feeding the network 192x192 images and got the following error:

[code]

[2016-11-02 15:05] cnuernber commented on #18
Please attach the log; a lot of times this just happens but you need to attach:
[code]

[2016-11-03 00:12] charlesg3 commented on #18
[code]

[2016-11-03 00:51] charlesg3 opened #19 "OOM while building VGG-like net"
I am trying to load the pre-trained VGG16 net from keras, add two linear->relu 4096 layers and replace the input layer. When trying to build the description with a batch size of 4, I get the following error:

`Exception CUDA Error: out of memory  think.compute.cuda-driver/eval26130/fn--26139 (cuda_driver.clj:349)`

Example code that reproduces this error for me:
[code]

Full Output:
[code]

[2016-11-03 16:11] cnuernber commented on #19
[code]

[2016-11-03 16:12] cnuernber commented on #19
This should have loaded fine on a big card so it is still a bug until I figure out why that didn't happen but I don't think you want this number of trainable parameters in your linear layer.  I would perhaps add a couple more convolutional layers.

[2016-11-03 16:12] cnuernber commented on #19
I get a java OOM error trying to load the model directly.

[2016-11-04 03:23] charlesg3 commented on #19
It turns out that the error occurs when the input size is changed to 192x192 (however using the exact same code with 224 x 224 doesn't yield the OOM). The OOM error occurs when building some of the conv layers.

When looking at the workspaces that are being allocated, we can see below that some of the conv layers are requiring 2GB when the input size is 196x196 and a mere 9K when the input size is

[2016-11-04 04:38] charlesg3 commented on #19
Relevant: https://github.com/thinktopic/cortex/pull/22

[2016-11-04 04:47] charlesg3 commented on #19
`nvidia-smi` running with a vgg-style net and batch-size 32 and the above PR:

[code]

[2016-11-04 15:01] cnuernber commented on #19
I believe this issue (and #22) are fixed by this pull request:
https://github.com/thinktopic/cortex/pull/22.

Feel free to reopen if this isn't the case.

[2016-11-04 15:01] #19 closed

[2016-11-04 21:26] benkamphaus opened #24 "Document GPU setup for Cortex for multiple environments"
I believe we've tested Cortex setup on Ubuntu 14.04, 16.04, and 16.10. It would be nice to get input and documentation on configuration steps. In addition, I believe @rosejn has gotten Cortex working on an older Nvidia Mac, relevant to [an issue raised](https://groups.google.com/forum/#!topic/clojure-cortex/JiKAG4-GVLQ) by @gigasquid on the mailing list.

The older `cortex-gpu` project used to con

[2016-11-05 05:08] charlesg3 commented on #24
Definitely willing to help this effort.

Basic steps include, at minimum: Installing nvidia-cuda-toolkit (`sudo apt-get install nvidia-cuda-toolkit`)
and installing cudnn available from here: https://developer.nvidia.com/cudnn publicly.

The .zip contains some libraries that you will need to make available to the loader. I simply copied the library files to `/usr/lib`, though I'm sure there's a be

[2016-11-05 14:42] gigasquid commented on #24
@charlesg3 Thanks for the help. My problem was that I had cuda 8.0 and needed the different dep.

My install steps on Mac OSX were:

 Followed the instructions for gpu setup from [Tensor Flow](https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#optional-setup-gpu-for-mac)
Brew install coreutils and CUDA toolkit
 * `$ brew install coreutils`
 * ` $ brew tap caskroom/cask`
 * `$ brew

[2016-11-05 16:51] charlesg3 commented on #24
@gigasquid -- much thanks for including the steps you took to get it working.

For posterity I've updated the README.md with each of our comments for now. We'll expand the setup instructions shortly.

[2016-11-05 21:37] charlesg3 commented on #14
Dropping the last partial batch means that it doesn't make predictions on it? This seems pretty bad, I'd be okay with complaining loudly if that's easiest but padding the input seems like an even better option.

[2016-11-06 05:44] charlesg3 opened #26 "Error trying to run a trained network"
When trying to run `(net/run network data)` I get the following error. This seems like I am using the wrong type, however `network` in the code is the result of a  `(compute-desc/build-and-create-network ...)` call.

[code]

Note that I have also tried to accomplish the same task using the datasets interface, however if I set the `training-split` to be 0.0 (as this is a dataset for "running", I do

[2016-11-06 16:59] cnuernber commented on #26
(net/run) would work if you used cortex's build-network system.  The compute networks need to be ran using the code under compute/nn/train.clj.  This does point to a protocol somewhere but you would have to map every layer type to the protocol which would be kind of a PITA.

The second one looks like a potential actual issue so if we see that again I would love more info on it.

[2016-11-07 10:29] mikera commented on #14
I prefer the idea of a "batch source" which is a slight abstraction of the traditional notion of "dataset".

A batch source is simply a procedure for assembling batches which takes a count as a parameter (and possibly also a incrementing "seed").

The batch source could have multiple different implementations:

- Taking a window of data from an underlying dataset (where window would be based on a

[2016-11-07 15:03] cnuernber commented on #14
How does that differ from the existing dataset interface which presents a sequence of batches?

[2016-11-08 01:34] mikera commented on #14
Two main improvements I guess:
- Having an (optional?) index seed I think is better than producing a seq as it provides opportunity for random access (and repeatability without holding on to the head)
- I would avoid `batch-type` as a a parameter. That should be part of the construction of the data source.

[2016-11-08 15:37] cnuernber commented on #14
batch-type is useful when training (so you can plot training/vs cv loss or something like that) from the training system's point of view and seed is definitely not.  Furthermore the dataset may apply augmentation/randomization if the batch type is training while for inference, holdout or cross-validation it would not do such a thing.

I think a middle ground both should perhaps be optional paramet

[2016-11-26 19:22] wanghaisheng commented on #24
mac 10.12.1 follow setup instruction in README does not work
[code]

[2016-11-26 19:42] wanghaisheng commented on #24
[code]

[2016-12-07 23:08] poojaramesh opened #48 "Using gaussian dropout creates an incorrect network description"
This incorrect description causes the process to crash during training and serialization

[code]

[2016-12-11 20:31] cnuernber commented on #48
Fixed as of #51

[2016-12-11 20:31] #48 closed

[2016-12-12 17:29] poojaramesh opened #52 "CUDA Out of Memory Error when building description using first pair of vgg16 conv layers and weights"
I am trying to build a network description using the first couple of vgg16 conv+pooling layers, loading pre-trained weights and setting learning attenuation to 0. This generates an out of memory error.

The error can be reproduced as such:

(def keras-model
  (memoize
    #(keras/load-sidecar-and-verify "/mnt/thinkdrive/cortex-debug/keras/vgg_configuration.json"

[2016-12-12 18:05] poojaramesh commented on #52
This could just purely be a resource issue with not enough memory for a big network. I will close the issue for now until I can prove otherwise.

[2016-12-12 18:05] #52 closed

[2016-12-29 03:56] benkamphaus opened #56 "Spatial Dropout"
I've observed in Keras that `SpatialDropout2D` seems to have a fairly large impact on regularization effectiveness for convolutional layers with less impact on training time. I haven't dug deeply yet, but the paper describing spatial dropout can be found [here](https://arxiv.org/pdf/1411.4280.pdf). The details on Spatial Dropout are in section 3.2.

[2016-12-29 20:06] jessicaappelbaum opened #57 "."

[2016-12-29 20:14] #57 closed

[2016-12-30 05:20] chunsj opened #58 "In the cortex.suite, can we add support for cpu backend in training?"
With following simple patch, I've managed to run http://gigasquidsoftware.com/blog/2016/12/27/deep-learning-in-clojure-with-cortex/ though I'm not sure I've done correctly. Can we add support for
backend selection in suite?

[code]

[2017-01-04 00:17] cnuernber commented on #58
Oh certainly I hadn't considered it important but that would be a good place to do it.

[2017-01-04 18:18] cnuernber commented on #58
e8cc445149926c5998c4504676eb59b61dac6e88

[2017-01-04 18:18] #58 closed

[2017-01-16 17:09] rogerallen commented on #24
@wanghaisheng if you are still having issues, I believe you'll want to visit http://www.nvidia.com/object/mac-driver-archive.html and get an up-to-date CUDA driver for the Mac.

[2017-01-17 05:01] wanghaisheng commented on #24
@rogerallen  thx very much i will try

[2017-01-18 10:13] shark8me opened #74 "tests for serialization of parameters"
Hi,

I'd like to add tests for serialization of parameter values in a trained network (the code is in cortex/suite/src/cortex/suite/train.clj ).
May I presume that a the right place to add it would be in cortex/suite/test/cortex/suite/train_test.clj? If someone else is working on adding tests for the same, I could help/collaborate.

thanks!

[2017-01-18 20:38] harold commented on #74
Hi @shark8me - thanks for these thoughts.

Did you encounter a problem with the parameter serialization?

We use the (ever-reliable) https://github.com/ptaoussanis/nippy clojure data serializer to persist the trained networks in suite.

I'd be interested to hear more about the improvements you'd like to see, or to see a PR. I don't know of anyone working on anything similar.

Let us know if you ha

[2017-01-19 13:23] shark8me opened #75 "no GPU on machine-can't get cortex/examples/suite-classification to run"
Hi all,

While executing "lein run" to try the classification example, the imported ns cortex/suite/src/cortex/suite/classification.clj throws the following error:

<stacktrace elided>...
Caused by: java.io.FileNotFoundException: Could not locate think/compute/nn/cuda_backend__init.class or think/compute/nn/cuda_backend.clj on classpath. Please check that namespaces with dashes use underscores in

[2017-01-19 13:24] shark8me commented on #74
Thanks @harold!

I was looking for examples/tests that I could use, didn't find any, hence the question.
If I get an example/test working, I'll submit a PR.

[2017-01-19 15:41] harold commented on #74
Sounds good! Thanks.

[2017-01-20 06:08] mikera commented on #74
@harold is there any design doc re: serialisation?

I'm curious on our thinking on the relationship between:
- Serialisation of parameters only (then can be used to re-populate a network structure)
- Serialisation of logical networks (definition of operations but implementation independent)
- Serialisation of network with a specific implementation (maintaining backend types etc.)

[2017-01-20 16:04] harold commented on #74
@mikera not that I know of.

Your first bullet point would be a slightly weird concept because the sizes of the parameter buffers depend on the relationships between the sizes of the layers in the network. Serializing the parameters without the network doesn't make much sense.

Your second point is generally called a 'description' throughout cortex. It's typically expressed as a vector of maps (e.

[2017-01-22 23:41] cnuernber commented on #75
I would like to implement it such that the CPU fallback is always if the gpu can't be loaded and then the any require for the gpu is done dynamically only upon backend creation time.  Good issue, will follow up later.

[2017-01-22 23:43] cnuernber commented on #74
@shark8me:  Any tests would be *greatly* appreciated.  Furthermore working in auto-generated tests (test.check) would also be greatly appreciated.

[2017-01-23 16:53] cnuernber commented on #74
Writing a bit more about this because I was thinking about it last night.

Currently we serialize a fairly large datastructure that has two components I want to talk about.  First is the layer graph and this contains the network structure (edge list and nodes) along with a buffer list.  This is really the heart of cortex and we need to be careful to be minimal here as placing a lot of things in he

[2017-01-23 16:58] cnuernber commented on #13
I have been considering and I decided that sulong is probably going the wrong directly in general.

If I am going to take the time to write c++ I expect to get a fairly significant benefit out of it.  Currently it provides two:
1.  Speed (sometimes).  This one is harder than it looks because hotspot really is fairly good with a lot of code.
2.  Synchronization primitives & memory model stuff.  Thi

[2017-01-23 17:21] cnuernber opened #78 "Weight normalization upgrade."
https://papers.nips.cc/paper/6114-weight-normalization-a-simple-reparameterization-to-accelerate-training-of-deep-neural-networks.pdf

Need someone to get into this, test it, see where it works and where it does not.

[2017-01-23 17:22] cnuernber opened #79 "multi label fancy loss"
https://papers.nips.cc/paper/5969-sparse-local-embeddings-for-extreme-multi-label-classification.pdf

Let's get into this, figure out what extensions we need in cortex to make it work well and make it happen.

[2017-01-24 02:02] mikera commented on #13
Have you looked at what I have been experimenting with in vectorz-opencl?

https://github.com/mikera/vectorz-opencl

It's GPU based at present, but I think it is a nice approach and it gives 100% interop with JVM Vectorz arrays and could easily be modified to use native code instead. I'm interested in making this work with cortex.

[2017-01-24 02:35] shark8me commented on #75
Fixed the example with PR #77 .
However, there is no CPU fallback in case GPU (which is the default option) fails to load the library.

[2017-01-24 15:29] cnuernber commented on #13
I hadn't seen it but it does look interesting.  I wish javacpp had a wrapper for opencl because then a lot of the code used for cuda could be reused for opecl.

Without that, a new backend on the compute abstraction would be the quickest path to trying it out.

[2017-01-25 23:26] bburdette opened #80 "Resetting loss "high score"?"
I'm training a net now and it has a certain loss score which is saved with the net.  This loss score is from a randomly generated holdout dataset.

When I start a new training session, presumably a new holdout dataset is created, perhaps giving a higher base error score.  Even though the net improves its score with the new holdout, the improved net is never saved since the score may never reach th

[2017-01-25 23:30] cnuernber commented on #80
I am not certain that I think changing the holdout set ever is a good idea.  How do you ensure that over time your net doesn't see all of the data during training?

[2017-01-25 23:31] bburdette commented on #80
In my case I believe the holdout dataset is generated randomly - I'm assuming if you exit the repl and come back later, you get a new holdout dataset.  Unless the holdout is saved with the network?

[2017-01-25 23:32] cnuernber commented on #80
OK, so for entirely generated datasets then if you just:
[code]

You would effectively reset the loss thus forcing the system to save the network.

[2017-01-25 23:33] bburdette commented on #80
Ok I'll give that a try!

[2017-01-26 18:32] bburdette commented on #80
added a flag to train-n, in branch "reset-score"

[2017-01-26 18:44] harold commented on #80
Link: https://github.com/thinktopic/cortex/compare/reset-score

[2017-01-26 19:52] cnuernber commented on #80
https://github.com/thinktopic/cortex/pull/81

[2017-01-26 19:52] #80 closed

[2017-01-27 16:56] cnuernber commented on #75
@shark8me:  Does this mean I can close this bug?  I am a slightly confused by the last comment.

[2017-01-27 16:57] cnuernber opened #84 "GPU optimization meditation"
https://arxiv.org/abs/1404.5997

[2017-01-27 18:30] ghostandthemachine opened #85 "Make file fails on fresh install and MNIST run"
When running `train.sh` in in the suite-classification project I get this:

[code]

[2017-02-02 04:59] JulioBarros opened #88 "UnsatisfiedLinkError: no hdf5_cpp in java.library.path"
I'm getting this error and UnsatisfiedLinkError: no jnihdf5, no jnicuda when trying to use Cortex. I'm on a mac with cudann 8.0 installed.

I see the comment in the Read be but believe cudann is installed correctly as it works fine with Keras/Theano/TensorFlow.

I see in https://github.com/thinktopic/cortex/issues/24 there is a mention of another branch with a different dependency but that branch

[2017-02-02 07:07] shark8me commented on #75
There are 2 different issues:

One, in a machine with no GPU, the example wouldn't run at all because some
of the internal methods implicitly created a GPU context (and the fallback
to CPU option didn't work). I fixed this issue  with a command line switch.

Two, allowing a fallback option. This is not present, which means that the
default invocation fails (if there is no GPU), requiring the user

[2017-02-07 17:52] cnuernber commented on #88
OK this needs to be documented but I see it is not:

First, to get the gpu unit tests to work for gpu-compute you need to uncomment this line:
https://github.com/thinktopic/cortex/blob/master/gpu-compute/project.clj#L9

Then if they don't work there is probably an issue with cudnn.

The hdf5 stuff won't work but that isn't required for using cortex in general; it is only required for importing mod

[2017-02-08 17:32] harold opened #90 "suite/train - more per-epoch functional user overrides"
https://github.com/thinktopic/cortex/blob/f6951075a83076bec11e6520202e913c0541423a/suite/src/cortex/suite/train.clj#L176

In talking with @charlesg3 there may be an opportunity here for `take-while` and a user-provided function that could run extra tests, do `think.peer` things or re-implement the old `train-until-error-stabilizes`. Interested to hear other's thoughts here.

[2017-02-08 18:14] cnuernber commented on #90
I would really like help with this portion of cortex.  I built it out a ways to make doing things easy but it is opinionated and I don't think it is particularly well designed.

[2017-02-08 19:23] poojaramesh commented on #90
@harold: To add to your point about running extra tests, it would be very helpful to be able to choose what gets printed out during training (https://github.com/thinktopic/cortex/blob/master/suite/src/cortex/suite/train.clj#L50). For example, with the multilabel classification problem (multi-channel approach), the usual cross entropy loss print out is useful to monitor the training, but being able

[2017-02-08 19:29] harold commented on #90
@poojaramesh - yup! This exactly parallels some of the other tests (intersection over union for bbox stuff, etc..) that we've wanted. Thanks for writing it out so clearly.

My other change from this morning paves the way for this a bit, making it possible to simplify what's printed, so when other things are printed they are easier to see:
https://github.com/thinktopic/cortex/pull/91

I think we're

[2017-02-08 23:59] cnuernber commented on #75
I am made the suite system attempt to load a gpu and if it fails fall back to the cpu.  This is tested because travis now runs the suite set of tests and the machine has no gpu support.  I am tenatively closing this issue for now although I feel this area could use some very intentional design.

[2017-02-08 23:59] #75 closed

[2017-02-09 00:00] cnuernber commented on #85
We will grown the number of examples over time and solving this issue for all of them is a requirement as well as addressing a few other things.  I believe this is a must for a 1.0 release.

[2017-02-09 00:03] cnuernber opened #94 "Defined save-file-format"
Cortex will need a defined save format that we believe has a decent chance for forward compatibility.  We want something that is very minimal but just a bit vetted because I would like to promise that from 1.0 any data created with cortex will be useable indefinitely with future versions of cortex.  This is a heavy burden if it is not treated with some respect.

[2017-02-09 00:06] cnuernber opened #95 "Clojure 1.9 support?"
Cortex deals with a lot of complex datastructures that we could use some help with.  I would like to start a discussion on some reasonable strategy to make these datastructures a bit less opaque which means at the very least an informal schema with some definitions.  If we go there then why not use spec and think through the datastructures and their implications a bit?

This is marked for 1.0 beca

[2017-02-09 00:47] poojaramesh opened #96 "Importing old networks trained using cortex 0.3* to 0.5*"
If you have a saved network that was trained using 0.3*, you can use this function to import it to 0.5* for inference or further training/fine-tuning.

[code]

[2017-02-09 15:50] cnuernber commented on #88
Closing this for now.  We could definitely use better docs around here but Julio has a working system at this point.

[2017-02-09 15:50] #88 closed

[2017-02-19 10:23] cnuernber opened #101 "Memory usage issues (OOM exceptions) with classification confusion matrix design"
We use far too much memory during classification and this actually has nothing to do with cortex proper but with the display of the confusion matrix.

The issue is that the confusion matrix stores images and not paths or something like that.  Thus it ends up with the entire cross-validation dataset held in memory which is untenable for larger datasets.

In general I think that it is unnecessary to

[2017-02-19 10:34] cnuernber opened #102 "Confusion matrix in mnist example fails to update with cortex 0.9"
Running the mnist example will fail to update the confusion matrix on the client (browser).  I believe this works with 0.5.0 but I haven't specifically tracked it down.

[2017-02-19 23:11] ogeagla commented on #101
@cnuernber can you point to where the root cause is in your opinion? Was browsing and looking for usages of https://github.com/thinktopic/cortex/blob/55abfc08721acb7065c4b3e517b88251d948485c/src/cortex/suite/classification.clj#L341 , or is the issue more that this function even exists: https://github.com/thinktopic/cortex/blob/55abfc08721acb7065c4b3e517b88251d948485c/src/cortex/suite/classificatio

[2017-02-19 23:59] ogeagla opened #103 "Readme link to design doc is broken"

[2017-02-20 07:44] cnuernber commented on #103
It could probably be slightly updated.

[2017-02-20 09:13] cnuernber commented on #101
The root cause in my opinion is that the atom stores images and those images may be lazily realized sequences from a much larger image set.  But I would have to think about the entire pathway from inference -> display to figure out what the best path might be.  The atom could store paths or perhaps the images could be concretely realized but with some limit (like 20).

[2017-02-23 10:36] cnuernber opened #107 "Cortex projects are bound to a specific cuda library version"
This has bothered me for some time and there isn't too much I can do about it but here we go:

The runtime dependency on the cuda libraries is not ideal the way it is structured.

1.  If the user does not have cuda installed the entire system now fails.
2.  If the user does not have cudnn installed the entire system now fails.
3.  If the user has a newer (older) version of cuda installed the entir

[2017-02-23 17:15] harold commented on #107
GLEW is an interesting parallel here but I think it solves a harder problem than the one we have in an environment (gl extensions) that was designed to be helpful in solving the problem.

I'd advocate at least trying smarter Java stuff before going into a full cross-platform wrapper library mode. Though, I also 100% agree that the problem could be thoroughly solved in that way (at some cost).

[2017-02-25 12:24] cnuernber commented on #107
It does have to solve the extension problem but it also has to solve the which symbols are in the library problem.  For example, there are different symbols available in GL3 than GL4.

In the sense that it needs to do dynamic symbol resolution at runtime after loading an indeterminate version of a shared library it is the same problem.

So, there are couple dynamic java things but the one that see

[2017-02-27 21:00] harold commented on #107
Sounds right. I know @charlesg3 messed with jnr a bit when doing XGBoost---not sure what the results there were.

[2017-02-27 21:06] charlesg3 commented on #107
jnr does allow dynamic binding to a library and doesn't require any information about headers... as such it sort of keeps the external library outside of your concern (just that it needs to exist on the LD_LIBRARY_PATH of the system)... which is super nice / minimal. The downside is that jnr has a bit of a low-level feel to it and the documentation is a bit sparse.

[2017-02-27 23:25] benkamphaus commented on #107
In case it's relevant for this discussion, there was a talk this year at Conj (2016) that focused pretty heavily on [using jnr from Clojure](https://www.youtube.com/watch?v=Lf-M1ZH6KME&index=9&list=PLZdCLR02grLofiMKo0bCeLHZC0_2rpqsz).

[2017-03-03 11:21] shaaza opened #114 "cortex/local-install.sh is not in the repo"
The readme says `make sure to run cortex/local-install.sh before running an example`, but that script doesn't exist in the repo.

Has this script been replaced by just `lein install`? If yes, we could update the readme. If not, we could dig it up from an older commit.

[2017-03-03 17:45] harold commented on #114
https://github.com/thinktopic/cortex/commit/4e98dad69b14d67dbb5e885c321a95cc76cea69e

[2017-03-03 17:45] #114 closed

[2017-03-03 20:38] gigasquid commented on #95
IMO Spec could be useful in a number of places:

- Validating input to functions and better error messages.
- Once things are speced like network/layers, the `conform` could be useful for destructing things in other places.
- It could be useful in "surprising" ways. For example, the generative nature of specs could enable exploration with generated network architectures and Genetic Algos.

[2017-03-05 14:31] #103 closed

[2017-04-03 17:05] harold opened #126 "Training on master takes longer than 0.5.0"
At `0.5.0`:
[code]

At `master`
[code]

[2017-04-03 17:06] harold commented on #126
GPU exhibits a similar difference, as well.

[2017-04-03 17:31] cnuernber commented on #126
Well, the first thing to do is make sure the tests are the same.  I believe they got refactored and during that step they may have changed to add more data or epochs.

[2017-04-03 17:37] harold commented on #126
Good thought. They both do 4 epoch (for each of `double` and `float`).

Also could be "more data" --- will take some more investigation since what's printed doesn't indicate dataset or batch size.

[2017-04-03 17:42] harold commented on #126
Hmmm... This looks suspect:
https://github.com/thinktopic/cortex/blob/master/src/cortex/verify/nn/train.clj#L162

It may be verifying against all 10k test observations...

[2017-04-03 17:49] harold commented on #126
Maybe 0.5.0 was only training against 100 observations?
https://github.com/thinktopic/cortex/blob/00f171f665f2c2778421300d384618728dd454f3/cortex/src/cortex/verify/nn/train.clj#L153

[2017-04-03 17:56] harold commented on #126
ok, going to make a PR with some potential changes.

[2017-04-05 17:18] harold opened #129 "Running a net with `float-array` inputs when the context's datatype is `:double` sadly hits a slow path"
@cnuernber --- Fast-path marshalling code for this exists, but is apparently not wired up.

Noting this here, since this can make cortex appear a lot slower than it is. :smile:

[2017-04-06 20:16] #129 closed

[2017-04-06 20:16] #126 closed

[2017-04-08 01:23] 1zaak opened #134 ""Existing Framework Comparisons" link broken"
Just a minor one.

[2017-04-10 14:29] harold commented on #134
Thanks for this.

I found the pdf again and updated the link.

[2017-04-16 18:04] Aljendro opened #137 "local-install.sh file not found"
The README has a reference to run local-install.sh, but the file was deleted a while ago...
I am not sure how to replicate the file so that it works with the current state of the project.

[2017-04-17 13:31] harold commented on #137
Thanks for this report! Cortex has been simplified significantly recently, obviating the need for the `local-install.sh` script.

Now, if you want to run from the latest, a simple `lein install` of the projects you plan to build/develop/run locally will do.

Personally, I run something like this pretty frequently:
[code]

I'll also look at updating the readme. Thanks again.

[2017-04-17 13:33] harold commented on #137
Here is what that file looked like (in case that's helpful for some reason):
https://github.com/thinktopic/cortex/blob/cb75dd243f3229997846df64fbbb9c6007f7a386/local-install.sh

[2017-04-17 13:37] harold opened #138 "HACKING.md"
We should have a `HACKING.md` file at the root that explains how to get things up and running locally for development. Mostly this would explain how to `lein install` and depend on SNAPSHOT versions for libraries of interest, but could also grow to include things like extension points for new layers/optimizers, etc...

cf. http://cider.readthedocs.io/en/latest/hacking_on_cider/

Note also: https:/

[2017-04-17 13:39] #137 closed

[2017-04-18 15:04] #134 closed

[2017-04-18 17:53] harold commented on #102
It's worse than that. The example needs to be updated for the dataset changes, etc... I'll look at it.

[2017-04-21 16:47] cnuernber opened #144 "Docker support"
- https://github.com/thinktopic/cortex/pull/143

Almost there, @charlesg3 had a few more things he wanted to add.

[2017-04-21 21:26] #144 closed

[2017-04-21 21:26] charlesg3 commented on #144
Fixed.

[2017-04-21 21:29] harold commented on #102
PR: https://github.com/thinktopic/cortex/pull/141

[2017-04-21 21:32] harold commented on #90
I am happy with the state of this now.

`experiment/train-n` now takes a `test-fn`:
https://github.com/thinktopic/cortex/blob/master/experiment/src/cortex/experiment/train.clj#L191

This can be used to implement arbitrary metric calculations per-epoch:
https://github.com/thinktopic/cortex/blob/242793ae249606c2f708e20baff15e607b273934/experiment/src/cortex/experiment/classification.clj#L168

That e

[2017-04-21 21:32] #90 closed

[2017-04-21 21:38] harold commented on #14
Recent changes (including but not limited to: https://github.com/thinktopic/cortex/pull/136) have fixed all known issues related to the commensurability of dataset and batch sizes. New-found problems related to that should be opened as new tickets (maybe referencing this one, if appropriate).

Thanks!

[2017-04-21 21:38] #14 closed

[2017-04-21 21:50] harold opened #145 "Is `experiment` too general of a name?"
Maybe cortex-experiment is a better name?

https://github.com/thinktopic/cortex/pull/141/files/242793ae249606c2f708e20baff15e607b273934#diff-e5046d343c37d85d4d736af438324a36R2

[2017-04-21 22:02] harold opened #146 "Is the Makefile in the mnist example necessary?"
https://github.com/thinktopic/cortex/pull/141/files/242793ae249606c2f708e20baff15e607b273934#diff-84e11a2455b6087ed768a14fa211e4e5R84

Maybe a smarter shell script alone is good enough?

[2017-04-26 15:54] harold opened #153 "[documentation] Saved network format"
Make a document explaining the output of `execute/train` / `compute-binding/save-to-network`.

Explain:
Why do these functions return both a network and an optimizer?

What is the structure of the returned network (it's a map with ... keys, etc...)

Maybe: Which `graph` functions might be useful to call on a saved network? (e.g., for stripping layers, fine-tuning, etc...)

[2017-04-26 15:56] harold opened #154 "[documentation] Setup Codox with Travis and publish to cortex.ml"
Auto-generated api documentation would be great, and would be a good seed for the cortex.ml site.

[2017-04-26 16:16] harold opened #156 "Make adding a new layer easier."
There is tension between ease of extension between backends :left_right_arrow: layers.

1) If things are organized such that each backend is implemented in a single file, then adding a new backend is easy; work from the code for the most similar backend and implement what's there in terms of the new backend. This has the downside that there is no one place to go to see the whole of the implementat

[2017-04-26 16:34] harold opened #157 "[example/documentation] Experimenting with new loss functions"
A machine learner working with cortex reads about a loss function in a paper and wants to experiment with something similar.

A document and/or example explaining how to do this with cortex would be super-useful.

For example, this loss function:
![selection_003](https://cloud.githubusercontent.com/assets/7443/25445393/84cb4230-2a6b-11e7-94f4-94aa10fea408.png)

From page 4 of the [yolo paper](http

[2017-04-26 22:17] rosejn commented on #156
So one way to approach this kind of trade-off is to look at the number of each system we have, and determine the likelihood of our users adding either of them.  It seems like given that we have way more layers, and that layers are the more likely component for ourselves and our users to add, then that should take priority in terms of simplifying the extension points.

[2017-05-06 23:24] xukai92 opened #164 "Is there any documentation available for Cortex?"

[2017-05-07 21:17] harold commented on #164
Currently there are three main sources of information.

1. Markdown files in this repo.
2. Tests in projects in this repo.
3. Docstrings on relevant sources.

We intend, for version 1.0 (https://github.com/thinktopic/cortex/issues/154), to unify, correct, and expand these into proper docs.

In the mean time, feel free to ask any questions you have either here (as you already have), or on the [mail

[2017-05-07 21:17] #164 closed

[2017-05-15 08:29] shark8me opened #165 "[Enhancement -design question] Visualizing parameter updates as training progresses"
Hi all,

Other neural network implementations have tools that aid visualization and debugging of a network while being trained. Specifically, I've found that the Tensorboard UI (from Tensorflow ) is quite capable.

The toolkit should be capable of turning on (or off) instrumentation for different parameters, such as

- gradient for weights
- raw weight values
- different evaluation metrics (e.g. F

[2017-05-16 22:01] harold commented on #165
Hi, thanks for these super-interesting thoughts.

Visualizations are super-important, and a hot topic here. Integrating with tensorboard is a neat idea and we'll definitely look into that.

We have a growing number of internal tools for doing the kinds of things you describe here that were using daily for customer projects. Coalescing them into something cogent and useful we can share as open-sour

[2017-05-17 00:29] mikera commented on #165
I personally like the idea of decoupling things with clearly defined interfaces so that alternative visualisation approaches can be plugged in, especially if they have complex dependencies or environment setup requirements.

One general way to think about things would be to see training as a reduction process, such that:
- A set of training results is produced as a map after each mini-batch.
- The

[2017-05-17 15:13] cnuernber commented on #78
Current example of weight initialization by hand to allow testing of different strategies:

https://github.com/thinktopic/cortex/blob/master/test/clj/cortex/nn/network_test.clj#L10

[2017-05-18 03:35] shark8me commented on #165
@harold
Would the code in the [experiment folder](https://github.com/thinktopic/cortex/blob/master/experiment/src/cortex/experiment/classification.clj#L214) be a good starting point to instrument a training cycle and stream out important metrics?

I didn't see (or find) a listener function (like test-fn) in the [cortex/src](https://github.com/thinktopic/cortex/blob/master/src/cortex/nn/execute.clj

[2017-05-18 15:15] harold commented on #165
I think so. The basic idea of `experiment` is layer advanced functionality over, and capture best practices uses of, the core cortex api. `train.clj` in `experiment` does this for neural nets in general. The file you linked is specific to neural nets for classification (one specific type of problem they can be used to solve).

My guess would be no. The core functionality of training and running wi

[2017-05-20 17:04] harold opened #168 "`concat` layer example"
From this google group post: https://groups.google.com/forum/#!topic/clojure-cortex/AtE-kAQCO8Y

We could have some examples of using concat (and the other layer graph operations) as tests with some `.md` descriptions in the docs referencing the tests.

The tests could go into experiment, or perhaps into the train tests (or layer tests? but maybe that's too low level).

@charlesg3 @cnuernber --- r

[2017-05-20 18:28] cnuernber commented on #168
Starting about here:
https://github.com/thinktopic/cortex/blob/master/src/cortex/verify/nn/layers.clj#L659

There are examples of using the graph-level layers (split, join, concatenate).

I think the crux of it is that each layer description object implicitly depends on the description before it *unless* the parents are manually specified.

So the description system does let you create some level

[2017-05-25 17:20] harold opened #171 "versioned models"
Models at rest on disk should have a version key so that we can detect forward/backward compatibility issues automatically.

@cnuernber @charlesg3 --- relevant to your interests.

[2017-05-31 21:41] cjwallace commented on #24
Since @gigasquid's installation instructions (thanks!) for OSX, `cuda` has moved from `caskroom/cask` to `caskroom/drivers` in brew, so I think the updated instructions should be:

- `$ brew install coreutils`
- `$ brew tap caskroom/drivers`
- `$ brew cask install cuda`

Brew will tell anyone who tries `caskroom/cask` this in any case.

[2017-05-31 21:44] charlesg3 commented on #24
@cjwallace -- thanks much for this info. I've just updated the install instructions, though I don't have a machine with OSX on it to test. Let me know if there's anything else that needs to be updated to get things working in that flow.

Cheers!

[2017-06-01 17:52] cnuernber opened #177 "Global average pooling"
https://arxiv.org/pdf/1312.4400.pdf

@benkamphaus:  Feel free to add any details we should consider when researching this feature.

[2017-06-01 18:09] benkamphaus commented on #177
Follow on paper has a video demo-ing use for saliency: http://cnnlocalization.csail.mit.edu/

The big takeaways are:

* reduce huge expansion in parameters at final conv -> first fully connected layer
* reduce the capacity of that layer to overfit
* directly map from spatial features in a transparent way (saliency maps for free)

It's useful to compare how this works in `keras` here:

[code]

Lead

[2017-06-01 21:46] charlesg3 commented on #78
I think there's a confusion here between weight initialization and weight normalization, re-opening issue.

[2017-06-11 08:34] BorisVSchmid opened #181 "support for selu activation function"
Ran into an interesting discussion on hackers' news on an activation function that seems to work well, even with deeper fully connected networks. See comparison and paper here, and discussion at reddit and HN.

https://github.com/shaohua0116/Activation-Visualization-Histogram

https://www.reddit.com/r/MachineLearning/comments/6g5tg1/r_selfnormalizing_neural_networks_improved_elu/
https://news.ycom

[2017-06-12 15:57] cnuernber commented on #181
Great find, thanks!

[2017-06-13 05:26] hellonico opened #182 "API Question: Class Mapping and execute/run return value"
Supposing I train a network with:

[code]

And do a guess on a new observation (after loading the nippy file), with

[code]

The return of execute/run is a number, and the result needs to be converted to the class again to find out the real guess.

But I thought that was the goal of the class-mapping done during the training step ?

Shouldn't the network in the nippy file serialize the class-mappi

[2017-06-13 16:46] harold commented on #182
Hi, thanks for these interesting thoughts.

The class mapping could be re-used, note that `(index->class-name 0) ;#> "cat"` and `((:index->class-name class-mapping) 0) ;#> "cat"` given what you've written.

I'm not so sure that the class-mapping should necessarily be part of the network, though `assoc`ing it on would be easy enough (the saved network is just a Clojure map).

Perhaps it would be he

[2017-06-14 00:49] hellonico commented on #182
Thank you for the fast comment !

The example I am working on separates the training part:
https://github.com/hellonico/cortex/blob/master/examples/mnist-catsndogs/src/catsdogs/training.clj

from the network usage part:
https://github.com/hellonico/cortex/blob/master/examples/mnist-catsndogs/src/catsdogs/simple.clj

So ideally, the class-mapping would already be included in the network or automati

[2017-06-14 17:45] harold commented on #182
You are welcome.

In that case I think it makes the most sense for you to just `assoc` the class mappings (which should just be maps of integers and strings) onto the network itself (which, again, is just a Clojure map). Putting it in a separate file could definitely also be made to work, but isn't as parsimonious as just putting it in the network map.

I am not sure this warrants any changes to C

[2017-06-15 14:21] gigasquid opened #184 "Problem with MNIST download data in example"
Cloned the Cortex project fresh and tried to run the MNIST example. Ran into a problem downloading the data.

[code]
It looks like it was trying to download this file from S3
`https://s3-us-west-2.amazonaws.com/thinktopic.datasets/mnist/train-images-idx3-ubyte.gz `

### Full Reproduction steps
[code]

[2017-06-15 14:40] gigasquid commented on #184
Solved my problem: I had an old version of the data files in `~/.cortex`. I deleted them and reran and everything is cool. Closing the issue.

[2017-06-15 14:40] #184 closed

[2017-06-15 16:04] harold commented on #184
@gigasquid --- Glad you worked this out. This is a little speedbump for super-early adopters (not that many people had data in the old format in their `~/.cortex` :D

Always good to hear from you, sorry again for the trouble. Take care!

[2017-06-15 20:45] harold opened #185 "Scalable and Sustainable Deep Learning via Randomized Hashing"
From this mailing list post:
https://groups.google.com/forum/#!topic/clojure-cortex/YKpWDMsSU5s

Comes this popular summary:
https://www.sciencedaily.com/releases/2017/06/170601135633.htm

Of this preprint with the same title as this issue:
https://arxiv.org/pdf/1602.08194.pdf

----

My takeaways:
 - One can reduce the amount of matrix multiplication computation during nn training and inference by

[2017-06-16 14:37] cnuernber commented on #182
Formalizing the pathway for classification where we do in fact save the class mappings makes a lot of sense.  We have had bugs before where the order of the class mappings changed or they were different than expected leading to an odd demo or two before.

This would in fact be a helpful thing moving forward; especially if it was robust which means it would work with multi-target networks.

I agree

[2017-06-16 14:43] cnuernber commented on #165
@shark8me:  Do you feel that your two recent tensorboard pull requests address this issue?

[2017-06-16 14:46] #102 closed

[2017-06-16 14:48] cnuernber commented on #74
@shark8me:  I think this bug is too general.  Do you see anything concrete to do about it at this time?

[2017-06-16 14:51] cnuernber commented on #26
Closing this because it is old and the errors we get are different now.

[2017-06-16 14:51] #26 closed

[2017-06-16 14:51] cnuernber commented on #24
I feel this is at this point good enough.  If anyone feels strongly otherwise, let's discuss it and I will possibly reopen.

[2017-06-16 14:51] #24 closed

[2017-06-16 14:52] cnuernber commented on #18
I haven't seen this in a while and the multithreading support in cortex and much more careful cuda context management helps in this area a lot.  I would be surprised if this happened again.

[2017-06-16 14:52] #18 closed

[2017-06-16 14:54] cnuernber commented on #13
Closing this issue because we aren't going to go the sulong route any time soon.  A PR would definitely be accepted, however.

[2017-06-16 14:54] #13 closed

[2017-06-16 14:54] cnuernber commented on #8
Closing due to inactivity in quite a long time.

[2017-06-16 14:54] #8 closed

[2017-06-16 16:31] charlesg3 commented on #145
This doesn't seem high-priority enough to keep as an issue. It isn't really affecting anything at this point so I'm closing this until it becomes an actual "issue"

[2017-06-16 16:31] #145 closed

[2017-06-20 21:01] shark8me commented on #165
Yes, it fixes the issue, this can be marked as resolved.

On 16-Jun-2017 5:43 PM, "Chris Nuernberger" <notifications@github.com>
wrote:

[2017-06-20 21:03] shark8me commented on #74
I agree, it should be resolved, perhaps a specific bug could be added
instead.

On 16-Jun-2017 5:48 PM, "Chris Nuernberger" <notifications@github.com>
wrote:

@shark8me <https://github.com/shark8me>: I think this bug is too general.
Do you see anything concrete to do about it at this time?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https:

[2017-06-20 21:08] #165 closed

[2017-06-20 21:08] #74 closed

[2017-06-23 19:03] rosejn commented on #185
Yeah, this is an awesome idea.  I think it's useful for a lot more than
just low-power applications though.  20x less computation is huge no matter
where it happens, and the asynchronous nature could also be really helpful
for parallel training on multiple GPUs.  It would be interesting to
contemplate out to do this for a convolution layer as well.

*Jeff Rose*

*CEO / Founder*

1050 Walnut st, su

[2017-07-04 11:57] BorisVSchmid commented on #185
The NN problems I am running tend to run slower on GPU than CPU (they're not image based, but just trying to classify things based on a dozen variables), so there something like this would help a lot (especially when I am using things like BOPP (https://github.com/probprog/bopp) to discover the optimal parameters for the NN (what batch size, l2, learning rate, number of nodes per layer).

[2017-07-04 13:16] rosejn commented on #185
Cool!  I didn't know about bopp.  We have something similar internally here
at thinktopic, but it's great to see this.

*Jeff Rose*

*CEO / Founder*

1050 Walnut st, suite 500
Boulder, Co, USA, 80302
cell: (303) 800 - 5467 <303.800.5467>
office: <303.800.5467>(720) 432.4428
thinktopic.com

On Tue, Jul 4, 2017 at 5:57 AM, Boris V. Schmid <notifications@github.com>
wrote:

[2017-07-10 23:04] bburdette commented on #95
Just a quick note:  I'm using cortex in a project that has clojure at 1.9.0-alpha17.  I encountered some strange spec errors which appeared when I tried requiring cortex.nn.execute, but occurred in core.async someplace.  These were fixed by adding an updated version of core.async, namely  [org.clojure/core.async "0.3.443"]

Also perhaps useful: adding that same core.async dependency to cortex allo

[2017-07-15 21:01] gigasquid commented on #95
I have a branch with 1.9 changes and everything that I could test, (everything but the importers), seems to work. I did require a tweak in think.image from a clojure.spec error but other than that there were no real surprises.

I can create a pull request for both cortex and think.image changes if you are interested.

[2017-07-16 13:49] cnuernber commented on #95
Yes, absolutely we would be interested.

[2017-07-16 17:29] gigasquid commented on #95
Cool - here are the branches https://github.com/thinktopic/cortex/pull/190, https://github.com/thinktopic/think.image/pull/10. Definitely would benefit from additional pairs of eyes, testing.

[2017-07-17 16:12] harold commented on #95
Hi @gigasquid, thanks for this. @cnuernber is out this week, so don't panic if there isn't movement on this right away. We have internal projects that are moving to 1.9 so this is a priority for us as well. We appreciate your interest and effort as always.

[2017-07-29 05:50] shark8me opened #200 "Metrics for machine learning"
Hi all,

How are you doing?

I was wondering if we could collaborate on a library for specifically for evaluation metrics in Machine Learning. In the [confuse library](https://github.com/datacraft-sciences/confuse), we currently have implemented the following binary and multi-class evaluation metrics.

**Counts**

- True positives
- False positives
- False negatives
- True negatives

**Binary clas

[2017-09-08 21:42] cnuernber commented on #200
This sounds reasonable.  We are about to include a solid chunk of metrics that involve bounding boxes of things which could be a nice addition to the library you are talking about.

[2017-09-09 20:09] cnuernber commented on #200
We could perhaps extend this concept to include:
1.  Vectorized nms type algorithms:
https://github.com/kpzhang93/MTCNN_face_detection_alignment/blob/master/code/codes/MTCNNv2/nms.m

Note that nms requires sort and filtering operations.

2.  Intersection over union, intersection over min, both used in the the above face detection system.

[2017-09-11 19:43] cnuernber opened #221 "Sorting on gpu"
https://arxiv.org/abs/1709.02520

[2017-09-14 14:49] shark8me commented on #200
Thanks!
Those features would be a useful addition :)

[2017-09-20 04:56] djzurawski opened #230 "Cortex does not work with newer versions of cudnn"
cudnn v6 and v7 have been released for cuda 8. Cortex tests fails when using v6 or v7 because it cannot find libcudnn.so.5. The docs should at least be updated to say cudnn v5 is required for cuda 8.

`ERROR in (indexed-copy-f) (Compiler.java:6748)
Uncaught exception, not in assertion.
expected: nil
  actual: clojure.lang.Compiler$CompilerException: java.lang.UnsatisfiedLinkError: no jnicudnn in j

[2017-09-20 15:21] harold commented on #230
Nice stacktrace, Dan.

You may have a point. Want to look into upgrading cudnn in cortex? Or maybe @cnuernber will.

[2017-09-20 15:24] cnuernber commented on #230
Please update the docs for now.  Updating cudnn should be fairly easy but we may need to upgrade the javacpp bindings to make that happen.

[2017-09-29 20:20] cnuernber commented on #230
https://github.com/thinktopic/cortex/tree/cudnn-6_0 - work in progress.

A couple things; it appears to be backward-incompatible with cudnn-5.0.

The new cudnn has a lot of operators for basic math that were missing before; they are probably a lot faster than the our custom kernels where they overlap, so I want to take a bit to make that work.

[2017-10-11 16:09] harold opened #237 "xor-mlp example should not depend on SNAPSHOT experiment"
https://github.com/thinktopic/cortex/blob/master/examples/xor-mlp/project.clj#L3

[2017-10-24 14:58] gigasquid commented on #237
I can take a look at this and also change all the other examples to non-snapshot

[2017-10-24 15:01] gigasquid commented on #95
This is done right? Can it be closed?

[2017-10-24 15:06] cnuernber commented on #95
Yes, sorry, this is done.

[2017-10-24 15:06] #95 closed

[2017-10-24 22:56] gigasquid opened #242 "Swish activation function"
Saw this paper the other day and it looks like it could be a useful alternative to relu

https://arxiv.org/abs/1710.05941

[2017-10-24 23:12] harold commented on #242
Funny, we were just talking about this today in the office.

It is very reul-y:
http://www.wolframalpha.com/input/?i=x+*+sigmoid+(x)

If you grep the code for `relu` you'd find most of the places you'd need to touch.

CPU side would likely be very straight forward. On CUDA we use cuDNN activation functions. Not sure if they're going to have swish, if not, implementing it would involve writing a te

[2017-10-29 00:58] gigasquid commented on #242
I've had some fun working on this. I had a question on how to best implement the new activations.
It was pretty straightforward doing the cpu side of things, but when I got to the gpu, I had a question of how to best implement it. The way I see it I could:

1) Write high level tensor operations to express the swish forward and backward in terms of other existing unary operations. This implementati

[2017-10-29 17:26] gigasquid commented on #242
I realized it would most likely be easier if you could see all the code so I opened a PR for it. Feedback is definitely welcome and I'm open to alternative implementations.

[2017-10-30 15:16] harold commented on #242
@cnuernber --- relevant to your interests.

[2017-11-01 21:41] gigasquid commented on #237
I think this can be closed 😸

[2017-11-01 21:42] gigasquid commented on #146
I think this can be closed 😸

[2017-11-01 21:42] gigasquid commented on #85
I think this can be closed 😸

[2017-11-01 22:42] cnuernber commented on #85
Good point :-).

[2017-11-01 22:42] #85 closed

[2017-11-01 22:52] harold commented on #237
:clap:

[2017-11-01 22:52] #237 closed

[2017-11-01 22:52] harold commented on #146
:clap:

[2017-11-01 22:52] #146 closed

[2017-11-02 16:53] cnuernber commented on #242
I landed the PR.

I personally wouldn't do a custom tensor up unless there was a reason like CUDNN had a fast-path that combined those operations in some special way.  Or if we started hitting an issue where those were the most expensive operations in some network.

That being said, a custom operator would be good if you just wanted to learn how things work.  But I don't see it as being necessary

[2017-11-02 16:53] #242 closed

[2017-11-02 20:52] gigasquid commented on #181
Since I have context doing swish. I can take a look at tackling this next.

[2017-11-02 20:55] gigasquid commented on #181
Here is the paper https://arxiv.org/pdf/1706.02515.pdf

[2017-11-02 21:24] cnuernber commented on #181
You may need a couple more tensor functions to make that happen, mainly the 'moving' class of functions:

https://www.mathworks.com/help/matlab/ref/movmean.html
https://www.mathworks.com/help/matlab/ref/movsum.html

[2017-11-02 22:32] gigasquid commented on #181
@cnuernber On the face of it, it seems like a simple activation function and derivative. But I could easily be missing something.

From the paper the activation function is

![1706_02515_pdf](https://user-images.githubusercontent.com/340299/32353347-673fcf3a-bffb-11e7-9d3f-b0068006f442.png)

and the derivative is
![neural_networks_-_what_is_the_backpropagation_formula_for_selu_activation_function_

[2017-11-02 23:25] gigasquid commented on #181
@cnuernber I see now, it's a the selu dropout. I'll definitely have to dig into that a bit more 😄

[2017-11-03 15:04] cnuernber commented on #181
That wasn't it, I misread the paper and thought the weights would have a different update step which is why I thought this would be really hard.

[2017-11-03 15:23] gigasquid commented on #181
Ah ok. I'll get a PR together for the selu activation first. I'll then take a look at adding selu dropout in another PR, since I think that is a bit more involved.

[2017-11-24 17:12] harold opened #248 "[experiment/example] Training vs. Test loss/error evaluation"
Per this interesting question from Kiran:
https://groups.google.com/forum/#!topic/clojure-cortex/8sLokBNmT2c

It would be nice to have an example of showing train vs. test loss during training to understand over/under-fitting. The current setup doesn't make it obvious how to do this, and basically everyone using the experiment training interfaces is likely to do want to do this at some point.

[2017-11-28 03:59] cassc opened #250 "How to specify padding type?"
How to specify SAME/VALID padding with `cortex.nn.layers/convolutional` similar to [conv2d in tensorflow]( https://www.tensorflow.org/versions/r0.12/api_docs/python/nn/convolution#conv2d)

Thanks for you great work!

[2017-12-06 16:40] cnuernber commented on #250
Currently you can only specify the exact padding amount.  So same padding for a kernel size of 3 is 1, not sure what valid means in this context.

We would have to add this feature in order to allow this; I would be in favor for sure but we need to know the exact math in both the even and odd kernel dimension cases.

[2017-12-07 21:02] gzmask opened #252 "Cask 'cuda' is unavailable"
Probably just a minor README update thing:

brew cask install cuda
Error: Cask 'cuda' is unavailable: No Cask with this name exists. Did you mean one of these?
cuda-z                                   nvidia-cuda

[2017-12-07 21:17] harold commented on #252
Hi! Thanks for this.

We don't have any active Mac users in the office at the moment.

I'm happy to include anything that helps you in the README, if there are a set of helpful steps we'd love a PR or any information that may be useful to future Max cortex users.

[2017-12-21 07:59] iboss-ptk commented on #252
cuda in caskroom/driver has already [renamed to nvidia-cuda since Oct 22](https://github.com/caskroom/homebrew-drivers/commit/f56e9ab9b8e2865e7c5965d014bcaa06ed196f19#diff-f9032f896f3316d57d071c60b61fa9c6)

[2017-12-21 16:27] harold commented on #252
Neat, thanks!

[2017-12-21 16:27] #252 closed

[2017-12-28 02:36] cnuernber opened #254 "Solver research direction"
https://arxiv.org/abs/1710.09278

[2018-01-05 15:54] maxc01 commented on #250
In TF, VALID padding means one should "specify the exact padding amount". From my point of view, it is not necessary to implement SAME padding from an API level, because one can always compute the padding to ensure the same spatial size not that difficult. For computing padding, _A guide to convolution arithmetic for deep learning_ [1] is a great reference.

[1] https://arxiv.org/abs/1603.07285

[2018-01-09 16:18] cnuernber opened #258 "capsule networks"
These have a lot of promise and look fun to work with:

https://github.com/higgsfield/Capsule-Network-Tutorial

[2018-01-09 16:20] cnuernber commented on #250
Thanks, that is indeed a great reference!

All of our kernel/padding specifications are completely manual at this point so I guess we default to 'valid'.

Again, thanks for the paper I agree completely that it is a great reference and it includes some description of various deconv techniques which are always interesting.

[2018-01-18 01:01] #154 closed

[2018-01-23 18:58] j0ni commented on #230
FWIW the javacpp code [claims to support CUDA 9.1 and cuDNN 7 now](https://github.com/bytedeco/javacpp-presets/tree/master/cuda). Is it on your radar @cnuernber to support those?

Great work on Cortex btw, I'm enjoying getting to know it. Took me a while to figure out which the supported CUDA bits were though :)

[2018-01-24 15:52] damienstanton commented on #258
I've been very interested in capsule theory since the Hinton paper came out. Will take a look at this.

[2018-02-08 07:04] lostpupil opened #259 "images not found in examples INTRO.md"

[2018-02-26 18:21] acstott commented on #254
So you want to implement the approach from this publication? Or are open to any ideas which might improve solver gains?

[2018-02-26 18:23] cnuernber commented on #254
Any ideas.  Especially research into why Adam doesn't performs as well as SGD for some (important) problems.

[2018-02-26 18:44] acstott commented on #254
I believe the choice of optimizer depends on the class of problem - its not an across the board 'this one is best' - so this is is not at all surprising. I am assuming this is to be done via the Cortex layer and not in CUDA or TensorFlow? Downloaded the paper to read.

[2018-02-26 20:36] cnuernber commented on #254
It surprised a lot of very experienced practitioners in machine learning at NIPS; for a long time we were all trying to get rid of hyperparameters and there are a large set of problems where Adam and friends do provably converge faster; just not overparameterized machine learning problems.  Here I think is the paper that was quite interesting:

https://arxiv.org/abs/1705.08292

[2018-02-26 20:37] cnuernber commented on #254
Oh, and if you can figure out concretely why this is and fix it for hyper-parameterless optimizers then you have your Ph. D I think :-); so if I were you I wouldn't worry about cortex vs. tf.

[2018-03-27 18:17] Invertisment opened #261 "Trying to set up cuda"
I started to program in clojure and I try to set up my cuda on my local machine.

I am trying to run your xor example on my gpu (https://github.com/thinktopic/cortex/blob/master/examples/xor-mlp/project.clj)
 but every time I get this: CUDA backend creation failed, reverting to CPU

I tried copying in some more dependencies, but I can't find them neither on maven central, not on clojars.

I tried

[2018-04-11 01:53] girng commented on #259
ty 4 report

[2018-07-19 15:18] jdkealy opened #262 "any documentation on how to use the network configuration parameters?"
Hi!

I am trying to find some information on the meaning of the below and how to tweak for my project.

[code]

Is there any tutorial or documentation on this ?

[2018-09-15 17:54] zcleghern opened #264 "can't :require cortex.experiment.train"
I have in my project.clj:

[code]

and in one of my source files, I'm doing this:

[code]

Running lein run on my project i get the following error:

I'm roughly following [this tutorial](https://dzone.com/articles/machine-learning-clojurecortex). Is it out of date or am I missing something?

[2018-09-15 20:29] zcleghern commented on #264
Oops! I had my require statements outside of my namespace form (ns ....).

[2018-09-15 20:29] #264 closed, assigned to nobody

[2018-09-19 20:46] zcleghern commented on #230
What's the status on this? I see a branch, but looks like it has hasn't been worked on in a long time. Does it need an extra hand?

[2018-09-19 20:56] cnuernber commented on #230
I have stopped supporting this project.

Carin Meier has clojure support added to the mxnet system - http://gigasquidsoftware.com/blog/2018/07/01/clojure-mxnet-joins-the-apache-mxnet-project/

I have been working on random things but mainly low level bindings to the tvm high performance computing library:

https://github.com/tech-ascent/tvm-clj

[2018-09-19 21:28] zcleghern commented on #230
Ah, that's unfortunate. I'm really interested in 1) doing some of my deep learning work in clojure and 2) contributing to some clojure open source. Do you recommend switching to mxnet then instead of one of the tensorflow libraries?

[2018-09-19 21:35] gigasquid commented on #230
@zcleghern We'd be happy to have you involved with the Apache MXNet project.
The Clojure package has just been released in 1.3.0 https://www.reddit.com/r/Clojure/comments/9gpnlj/apache_mxnet_130_with_clojure_bindings_released/

https://github.com/apache/incubator-mxnet/tree/master/contrib/clojure-package

If you need help getting started or have any questions, feel free to reach out to me on the C

[2019-07-10 20:29] #56 closed